<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/minty/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9NlqO4dP5KfioUGS568UFwM3lbWf3Uj3Qb7FBHuIuhLoDp3ZgAqPE1/MYLEBPZYM" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/lib/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="lib/slick/slick.css" />
  <link rel="stylesheet" type="text/css" href="lib/slick/slick-theme.css" />
  <link rel="stylesheet" href="/styles/styles.css">

  <title>LilyPods</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">LilyPods</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
      aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">My Playlist</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
      <img src="https://i.imgur.com/Tq6DSll.jpg" class="rounded" height=70px width=85px>
    </div>
  </nav>
  <div class="jumbotron">
    <h1 class="display-3">LilyPods</h1>
    <p class="lead">Easily manage your podcast playlist.</p>
    <hr class="my-4">
    <div class="your-class">
      <div><img class="slick-img" src="/images/podcast1.jpg"></div>
      <div><img class="slick-img" src="/images/podcast2.jpg"></div>
      <div><img class="slick-img" src="/images/podcast3.jpg"></div>
      <div><img class="slick-img" src="/images/podcast4.jpg"></div>
      <div><img class="slick-img" src="/images/podcast5.jpg"></div>
    </div>
    <br>
    <a class="btn btn-primary btn-lg" href="/playlist" role="button">Create Playlist</a>
    </p>
  </div>

  <footer id="footer">Team IMEA | Copyright 2019</footer>

  <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="lib/slick/slick.min.js"></script>

  <script type="text/javascript">
    $(document).ready(function () {
      $('.your-class').slick({
        centerMode: true,
        autoplay: true,
        autoplaySpeed: 2000,
        dots: true,
        slidesToShow: 3,
        responsive: [
          {
            breakpoint: 768,
            settings: {
              arrows: false,
              centerMode: true,
              centerPadding: '40px',
              slidesToShow: 3
            }
          },
          {
            breakpoint: 480,
            settings: {
              arrows: false,
              centerMode: true,
              centerPadding: '40px',
              slidesToShow: 1
            }
          }
        ]
      });

    });

  </script>
</body>

</html>













{{!-- <div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>This is our Home Page!</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="example-text">Example Text</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Enter Example Text">
          </div>
          <div class="form-group">
            <label for="example-description">Example Description</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Enter Example Description"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        <h3>Examples:</h3>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script> --}}
