
  <div class="jumbotron">
    <h1 class="display-3">LilyPods <img src="https://i.imgur.com/Tq6DSll.jpg" class="rounded" id="frog" height=90px width=105px></h1>
    <p class="lead">Easily manage your podcast playlist.</p>
    <hr class="my-4">
    <div class="your-class">
      <div><img class="slick-img" src="/images/joerogan.jpg"></div>
      <div><img class="slick-img" src="/images/serial.jpg"></div>
      <div><img class="slick-img" src="/images/starwars.jpg"></div>
      <div><img class="slick-img" src="/images/chernobyl.jpg"></div>
      <div><img class="slick-img" src="/images/hidden.jpg"></div>
    </div>
    <br>
    {{!-- <a class="btn btn-primary btn-lg" href="/api/podcasts" role="button">Search Game of Thrones</a> --}}
    <a class="btn btn-primary btn-lg" href="/podcasts" role="button">Create Playlist</a>
    </p>
  </div>

  

  <footer id="footer">Team IMEA | Copyright 2019</footer>

  <script type="text/javascript">
    $(document).ready(function () {
      $('.your-class').slick({
        centerMode: true,
        autoplay: true,
        autoplaySpeed: 2000,
        dots: true,
        slidesToShow: 3,
        responsive: [
          {
            breakpoint: 768,
            settings: {
              arrows: false,
              centerMode: true,
              centerPadding: '40px',
              slidesToShow: 3
            }
          },
          {
            breakpoint: 480,
            settings: {
              arrows: false,
              centerMode: true,
              centerPadding: '40px',
              slidesToShow: 1
            }
          }
        ]
      });

    });

  </script>
