<div class="container-fluid">
  <h1 class="text-center">Let's have a better day <em>(!)</em></h1>
  <div class="row text-center">
    {{#each podcasts}}
    <div class="col-sm-12 col-md-4">
      <div class="module">
        <h3>{{title}}</h3>
        <!-- <p>Please show me a Title</p> -->
        <figure><img src="{{image_url}}" alt="defaultphoto"></figure>
        <a href="{{audio}}" class="btn btn-primary">Link!</a>
      </div>
    </div>
    {{/each}}
  </div>
</div>
