<div class="container-fluid">
  <h1 class="text-center">Welcome to Your Playlist <em>(!)</em></h1>
  <br><br>
  <div class="row text-center">
    {{#each podcasts}}
    <div class="col-sm-12 col-md-4">
      <div class="module">
        <h3>{{title}}</h3>
        <!-- <p>Please show me a Title</p> -->
        <figure><img src="{{image_url}}" alt="defaultphoto"></figure>
        <a href="{{audio}}" class="btn btn-primary">Click to Play Audio</a>
        <button class="btn btn-primary delete">Delete</button>
        <br><br>
      </div>
    </div>
    {{/each}}
  </div>
</div>
<script type="text/javascript">
$(document).ready(function () {
  $(".delete").on("click", function (event) {
    var id = $(this).data("id");

    // Send the DELETE request.
    $.ajax("/api/playlist/" + id, {
      type: "DELETE"
    }).then(
      function () {
        console.log("deleted podcast", id);
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });

})
</script>
