<!-- 5. Output the animalType string, pet boolean and fierceness number to the page for all the animals. -->

<h1>Podcasts found</h1>
<ul>
  {{#each podcasts}}
    <li>
      <p>Podcasts id: {{id}}</p>
      <p>Audio podcast: {{audio}}</p>
    </li>
  {{/each}}
</ul>