<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">LilyPods</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
      aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">My Playlist</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
      <img src="https://i.imgur.com/Tq6DSll.jpg" class="rounded" height=70px width=85px>
    </div>
  </nav>
<br>



<div class="container">
  <h1>Sign up</h1>
  <form>
    <div class="form-group">
      <label>Email</label>
      <input class="form-control" id="email" type="text">
    </div>
    <div class="form-group">
      <label>Password</label>
      <input class="form-control" id="password" type="password">
    </div>
    <div class="form-group">
      <label>Re Enter Password</label>
      <input class="form-control" id="re-password" type="password">
    </div>

    <button id="signup" class="btn btn-primary">Sign up!</button>
  </form>
  <br>
  <p>Already have an account? <a href="/login">Login</a></p>

  <script src="js/signup.js"></script>
</div>