.list-group-item {
  line-height: 2.5;
}

.slick-img {
  width: 200px;
  height: 200px;
}

.your-class {
  width: 60vw;
  margin: auto
}

#footer {
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
}
