.list-group-item {
  line-height: 2.5;
}

.slick-img {
  width: 200px;
  height: 200px;
}

.your-class {
  width: 60vw;
  margin: auto
}

#footer {
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
}

#frog {
  margin-right: 500px;
}

.title {
  text-align: center;
  font-size: 2em;
  
}

.header,h6 {
  text-align: center;
}

.image{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  
}
b {
  color: green;
  font-weight: 1500;
  font-size: 20px;
}

h1, h3, .lead {
  text-align: center;
  
}
